* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Roboto Mono', monospace;
  --fs-inputSearch: clamp(1.0rem, 0.5rem + 2vw, 1.6rem);
  --fs-favoriteButton: 1.4rem;
  --fs-table: clamp(.4rem, .7rem + .5vw, 2.0rem);
  --fs-emptyTable: 4.0rem;
  
  --bg-inputSearch: #06181C;
  --fc-inputSearch: #7C7C8A;
  --bg-favoriteButton: #065E7C;
  --fc-favoriteButton: #fff;
  --bg-thead: #092D38;
  --fc-table: #E1E1E6;
  --bg-someRows: #06181C;
  --color-borderTableAndScroll: #4A808C;
  
  --width-userImg: clamp(3.0rem, 3.0rem + 4vw, 5.6rem);
  --width-logo: clamp(10.0rem, 10.0rem + 5vw, 18.6rem);
  --padding-inputSearch: clamp(1.0rem, 0.5rem + 2vw, 1.6rem);
  --paddingVert-favoriteButton: clamp(0.4rem, 0.5rem + 1vw, 1.2rem);
  --paddingHor-favoriteButton: clamp(0.8rem, 1.0rem + 1vw, 3.2rem);
  --paddingVert-table: clamp(0.4rem, 0.5rem + 1vw, 1.6rem);
  --paddingHor-table: clamp(0.8rem, 1.0rem + 1vw, 4.0rem);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  background: linear-gradient(189.96deg, #104656 -0.24%, #022945 100.24%);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
  display: grid;
  justify-items: center;
  align-content: space-between;
  height: 100vh;
  font-family: var(--ff-primary);
  color: var(--fc-table);
}

#app {
  display: flex;
  flex-direction: column;
  gap: 5.0rem;
  max-width: 112.0rem;
  padding: 5.0rem 1.5rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.0rem;
}

.logo img {
  width: var(--width-logo);
}

.input-space {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.8rem;
}

header .input-space #input-search {
  background: var(--bg-inputSearch);
  border: none;
  border-radius: 0.5rem;
  padding: var(--padding-inputSearch);
  color: var(--fc-inputSearch);
  font-family: var(--ff-primary);
  font-size: var(--fs-inputSearch);
  width: 100%;
}

.favorite-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  background: var(--bg-favoriteButton);
  border: none;
  border-radius: 0.5rem;
  font-family: var(--ff-primary);
  font-size: var(--fs-favoriteButton);
  text-transform: uppercase;
  font-weight: 700;
  color: var(--fc-favoriteButton);
  padding: var(--paddingVert-favoriteButton) var(--paddingHor-favoriteButton);
  width: 100%;
  transition: all .5s;
  cursor: pointer;
}

.favorite-button:hover {
  background: #fff;
  color: var(--bg-favoriteButton)
}

.favorite-button:hover svg path {
  fill: var(--bg-favoriteButton);
  transition: all .5s;
}

.sr-only {  /* classe feita para esconder a label de forma que o leitor de tela aonda o encontre*/
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

table {
  border-collapse: collapse;
  font-size: var(--fs-table);
}

thead th{
  background: var(--bg-thead);
  text-align: left;
  padding: var(--paddingVert-table) var(--paddingHor-table);
}

thead th:first-child {
  border-top-left-radius: .5rem;
}

thead th:last-child {
  border-top-right-radius: .5rem;
}

tbody .user {
  display: flex;
  gap: clamp(.5rem, .5rem + 1vw, 1.6rem);
  align-items: center;
}

.userImg {
  width: var(--width-userImg);
  border-radius: 50%;
}
a {
  text-decoration: none;
  color: var(--fc-table);
}

tbody .user a p {
  font-weight: bold;
}

tbody td{
  text-align: left;
  padding: var(--paddingVert-table) var(--paddingHor-table);
}

tbody td:last-child {
  text-align: center;
}

tbody tr:nth-child(even) {
  background: var(--bg-someRows);
  border-radius: 0rem 0rem .5rem .5rem;
}

tbody tr:nth-child(odd) {
  background: rgba(6, 22, 27, 0.5);
}

.trash-button {
  background: none;
  border: none;
  cursor: pointer;
}

.trash-button:hover svg g {
  fill: rgb(245, 72, 72);
  transition: all .5s;
}

footer {
  padding: 2.0rem;
}

@media (min-width: 650px){
  #app {
    padding-top: 12.0rem;
    
  }
  header {
    flex-direction: row;
    gap: clamp(10.0rem, 10.0rem + 5vw, 29.3rem);
  }
  .input-space {
    flex-direction: row;
  }
}
